{% extends "base_generic.html" %}
{% load bootstrap %}

{% block content %}
  <h1>Author Lists</h1>
  <div class="container">
      <form method="GET">
        {{myFilter.form|bootstrap}}
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
  </div>

  {% if author_list %} 
  <ul>
    {% for author in myFilter.qs %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a> ({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %} 
{% endblock %}