{% extends 'base_generic.html' %}
{# Don't forget that one ! #}
{% load static %}

{% block content %}
<div>
    <h1>Search books</h1>
    <form action="{% url 'search_book' %}" name="form1" method="post">
        {% csrf_token %}
        {{ form1.as_p }}
        <button type="submit">Seach</button>
    </form>
</div>
<div>
    <h1>Search Author</h1>
    <form action="{% url 'search_author' %}" name="form2" method="post">
        {% csrf_token %}
        {{  form2.as_p }}
        <button type="submit">Seach</button>
    </form>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

{% endblock %}
