{% extends 'base_generic.html' %}
{# Don't forget that one ! #}
{% load static %}

{% block content %}
<div>
    <h1>Search GIN</h1>
    <form action="" name="form1" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}
<script>
    $(document).ready(function() {
    // Bind on continent field change
    $(':input[name$=author_field]').on('change', function() {
        // Get the field prefix, ie. if this comes from a formset form
        var prefix = $(this).getFormPrefix();

        // Clear the autocomplete with the same prefix
        $(':input[name=' + prefix + 'book_field]').val(null).trigger('change');
    });
});
</script>
{% endblock %}
